{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a href="{{ actions.childAdmin.generateUrl('list', { 'id': object.id }) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-file"></i>
        {# 'action_edit'|trans({}, 'SonataAdminBundle') #}Translate
    </a>
{% endif %}
