{% extends "::base.html.twig" %}

{% block body %}
{{ eone_block('home-demo',
    '<h2>Welcome!</h2>' ~
    '<p>This is a demo showing SonataBlock integration.</p>',
    {'name': 'Homepage - demo'}) }}
{% endblock %}
