{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="form-box" id="reset-box">
    <div class="header">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</div>
    <div class="body bg-gray text-center">
        <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
    </div>
    <div class="footer bg-gray"></div>
</div>
{% endblock %}
